$Negro:rgba(34,34,34,1);
$Negro50:rgba(34,34,34,0.5);
$Negro10:rgba(34,34,34,0.1);
$Blanco:rgba(255,255,255,1);
$Blanco50:rgba(255,255,255,0.5);
$Blanco20:rgba(255,255,255,0.2);


body {
    display: flex;
    background: $Negro;
    border-radius: 4px 4px 4px 4px;
}

/* estilo contenedor principal */
.container {
    background: $Negro;
    max-width: 512px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 16px 0px 0px 16px;
}

/* estilo header */
.header {
    .titulo {
        display: flexbox;
        border: 2px;
        border-color: $Blanco20;
        border-bottom: 2px solid $Blanco20;
        color: $Blanco;
        font-family: 'Roboto';
        font-size: 36px; 
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
    }

    .boton-pantallacompleta {
        border: 1px solid $Blanco;
        border-radius: 4px;
        font-weight: bold;
        display:flex;
        margin-top: -54px;
        margin-bottom: 10px;
        margin-left: 480px;
        padding:  5px 5px;
        position: relative;
        background-color: $Negro10;
        background-position: center;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

/* estilo input ingreso tareas nuevas */
.input-ingreso-tarea {
    background-color: $Blanco20;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding: 8px;
    font-family: 'Roboto';
    font-size: 24px;
    color: $Blanco;
    width: 97%;
    margin: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flexbox;
    justify-content: space-between;
    box-shadow: inset 0px 0px 15px 10px $Blanco20;
}

/* estilo boton add */
.boton-add {
    border: 1px solid $Blanco;
     border-radius: 4px 4px 4px 4px;
     font-weight: bold;
     display:block;
     margin: 0px 0;
     margin-top: -55px;
     margin-left: 475px;
     padding:  -8px 8px;
     position: relative;
     margin-right: 0;
     background-color: $Negro10;
     background-repeat: no-repeat;
     background-position: center;
     height: 24px;
     width: 24px;
     cursor: pointer;
}

/* estilo boton add cuando paso por encima */
.boton-add:hover {
    background: $Blanco20;
}

/* contenedor checkbox */
.checkbox {
    border-radius: 4px 4px 4px 4px;
    color: $Blanco;
    text-align: left;
    white-space: nowrap;
    background-color: $Blanco20;
    display: flexbox;
    position: relative;
    padding-left: 45px;
    padding-top: 12px;
    padding-bottom: 0px;
    margin: 10px 0;
    margin-top: 24px;
    margin-bottom: -12px;
    cursor: pointer;
    font-size: 20px;

    .contenedorDeBotones {
        margin-left: 350px;
        margin-top: -32px;
        display: flex;
        padding: 8px 16px;
        position: relative;
        background-color: none;
        background-position: center;
        height: 28px;
        width: 70px;
        cursor: pointer;
        
        :hover {
            background: $Blanco20;
        }
        
        .boton-portapapeles {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: -50px;
            padding-left: -8px;
        }
        
        .boton-compartir {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: -50px;
            margin-right: -8px;
        }
        
        .boton-eliminar {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: 62px;
            margin-right: -8px;
        }
       
   }
}

.checkbox:checked {
    text-decoration: line-through;
}

/* escondemos el default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

 /* creamos un custom checkbox */
.checkmark  {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $Blanco20;
    border: 1px solid $Blanco;
    margin-top: 15px;
    margin-left: 10px;
}

/* mostramos el marcador al seleccionar */
.checkbox input:checked ~ .checkmark:after {
    display: flex;  
}
 
/* estilo del marcador */
.checkbox .checkmark:after {
    left: 4px;
    top: 0px;
    width: 3px;
    height: 8px;
    border: 1px solid $Blanco;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

 /* tachado de tareas realizadas */
 .checkbox input:checked ~ label {
    text-decoration: line-through;
}

/* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}