<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de tareas</title>
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>
    <div class="container">
      <div class="header">
        <h1 class="titulo">Lista de tareas de Juanchi</h1>
      </div>
      <input type="text" class="input-ingreso-tarea" placeholder="ingrese una tarea...">
      <button class="boton-add">add</button>

      <div>
        <label class="checkbox">
          <input type="checkbox">
          <label id="TaskN">Task N</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
      <div>
        <label class="checkbox" >
          <input type="checkbox" >
          <label id="TaskN-1">Task N-1</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
      <div>
        <label class="checkbox"> 
          <input type="checkbox" checked="checked">
          <label id="TaskN-2">Completed Task N-2</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
      <div>
        <label class="checkbox">
          <input type="checkbox">
          <label id="TaskK">Task K</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
      <div>
        <label class="checkbox">
          <input type="checkbox">
          <label id="Task2">Task 2</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
      <div>
        <label class="checkbox">
          <input type="checkbox" checked="checked">
          <label id="Task1">Completed Task 1</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar"></button>
        </label>
      </div>
    </div>
</body>
</html>