<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de tareas</title>
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>
    <div class="container">
      <div class="header">
        <h1 class="titulo">Lista de tareas de {{nombre}}</h1>
      </div>
      <input type="text" id="inputtarea" class="input-ingreso-tarea" placeholder="ingrese una tarea..." value= "" #nuevatarea>
      <button class="boton-add" (click)="creartareas(nuevatarea.value)">add</button>
      <div>
        <label class="checkbox" *ngFor="let tarea of tareas">
          <input type="checkbox">
          <label>{{tarea}}</label>
          <span class="checkmark"></span>
          <button class="boton-eliminar" (click)="borrartarea(tarea)"></button>
        </label>
      </div>
    </div>
</body>
</html>