$Negro:rgba(34,34,34,1);
$Negro50:rgba(34,34,34,0.5);
$Negro10:rgba(34,34,34,0.1);
$Blanco:rgba(255,255,255,1);
$Blanco50:rgba(255,255,255,0.5);
$Blanco20:rgba(255,255,255,0.2);

.container {
    background: black;
    max-width: 32rem;
}

header.main-header{
    background-color: cyan;
    
}

form.form{
    background-color: orange;
    border-radius: 0.5rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: sticky;
    top: 1rem;

    input {
        height: 2rem;
        flex-grow: 1;
        margin-right: 0.5rem;
        padding: 0;
        border: none;
        background-color: transparent;
    }
    button {

    }
}

ol.tasks {
    background-color: pink;
    list-style: none;
    margin: 0;
    padding: 0;
    //display: flex;
    //flex-direction: column;

    li {
        background-color: yellow;
        margin-bottom: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .task-content{
            background-color: green;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            flex-grow: 1;
            input[type="checkbox"] {
                margin-right: 1rem;
            }
            div {
                background-color: red;
            }

        }
        .task-buttons {

            //width: 10rem;
            //justify-content: space-between;
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

// old ///////////////////////////////
$Negro:rgba(34,34,34,1);
$Negro50:rgba(34,34,34,0.5);
$Negro10:rgba(34,34,34,0.1);
$Blanco:rgba(255,255,255,1);
$Blanco50:rgba(255,255,255,0.5);
$Blanco20:rgba(255,255,255,0.2);


body {
    display: flex;
    background: $Negro;
    border-radius: 4px 4px 4px 4px;
}

/* estilo contenedor principal */
.container {
    background: $Negro;
    max-width: 512px;
    padding: 10px 20px;
    border-radius: 16px 0px 0px 16px;
}

/* estilo header */
.header {
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .titulo {
        border: 2px;
        border-color: $Blanco20;
        border-bottom: 2px solid $Blanco20;
        color: $Blanco;
        font-family: 'Roboto';
        font-size: 36px;
    }

    .boton-pantallacompleta {
        border: 1px solid $Blanco;
        border-radius: 4px;
        box-sizing: border-box;
        padding:  8px 8px 8px 8px;
        background-color: $Negro10;
        height: 48px;
        width: 48px;
        cursor: pointer;

        &:hover {
            background: $Blanco20;
        }
    }
}

/* estilo input ingreso tareas nuevas */
.input-ingreso-tarea {
    display: flex;
    background-color: $Blanco20;
    color: $Blanco;
    font-family: 'Roboto';
    font-size: 24px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding: 8px;
    width: 100%;
    height: 64px;
    margin: 10px 0px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 15px 10px $Blanco20;
}

/* estilo boton add */
.boton-add {
     border: 1px solid $Blanco;
     border-radius: 4px 4px 4px 4px;
     box-sizing: border-box;
     padding: 8px 8px 8px 8px; 
     position: absolute;
     background-color: $Negro10;
     width: 48px;
     height: 48px;
     cursor: pointer;

     &:hover {
         background: $Blanco20;
     }
}

/* contenedor checkbox */
.checkbox {
    border-radius: 4px 4px 4px 4px;
    color: $Blanco;
    text-align: left;
    background-color: $Blanco20;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 8px 8px 8px 8px;
    position: relative;
    margin: 10px 0;

    .contenedorDeBotones {
        margin-left: 350px;
        margin-top: -32px;
        display: flex;
        padding: 8px 16px;
        position: relative;
        background-color: none;
        background-position: center;
        
        .boton-portapapeles {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: -60px;
            padding-left: -8px;
            height: 32px;
            width: 32px;
            cursor: pointer;
            
            &:hover {
                background: $Blanco20;
            }
        }
        
        .boton-compartir {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: -60px;
            margin-right: -8px;
            height: 32px;
            width: 32px;
            cursor: pointer;
            
            &:hover {
                background: $Blanco20;
            }
        }
        
        .boton-eliminar {
            border: 1px solid $Blanco;
            background-color: $Negro10;
            border-radius: 4px 4px 4px 4px;
            margin-top: -2px;
            margin-left: 58px;
            margin-right: -8px;
            height: 32px;
            width: 32px;
            cursor: pointer;
            
            &:hover {
                background: $Blanco20;
            }
        }
   }
}

/* creamos un custom checkbox */
.checkmark  {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $Blanco20;
    border: 2px solid $Blanco;
    margin-top: 4px;
    margin-left: 4px;
}

.checkbox:checked {
    text-decoration: line-through;
}

/* escondemos el default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* mostramos el marcador al seleccionar */
.checkbox input:checked ~ .checkmark:after {
    display: flex;  
}
 
/* estilo del marcador */
.checkbox .checkmark:after {
    left: 7px;
    top: 1.5px;
    width: 6px;
    height: 14px;
    border: 1px solid $Blanco;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

 /* tachado de tareas realizadas */
 .checkbox input:checked ~ .completed {
    text-decoration: line-through;
}

/* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
